<h3>Site-Wide Administration</h3>

<p>
<p>
<%= link_to 'Users', admin_users_path %><br>
<%= link_to 'Polities, Offices & Officials', admin_state_path(1) %><br>
<%= link_to 'Standard Poll Options', admin_standard_poll_option_sets_path %><br>
<%= link_to 'Queued Background Jobs', admin_delayed_jobs_path %>
