<h3><%= @state.name %> Municipalities</h3>

<table width=400>
  <tr>
	<th>ANSI</th>
    <th>Name</th>
    <th>State</th>
  </tr>

<% @municipalities.each do |municipality| %>
  <tr>
	<td><%= municipality.ansi_code %>
    <td><%= municipality.name %></td>
    <td><%= municipality.state.name %></td>
  </tr>
<% end %>
</table>

<br />

